<style type="text/css">
body{ text-align: center; }

#menu{ color: white; }

#xxx{ color: purpure; }

#cont{ width: 693px; margin: 0 auto 0 auto; text-align: left;background:green; }

h2{ color:#AB2BA6;
    font-famiy:sans-serif;}


</style>
